# Node
node_modules/
dist/
dist-ssr/
*.local

# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
.mvn/

# IDEs and Editors
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.*
